html {
  font-size: 50px;
  font-family: "sans-serif";
}

body {
  margin: 0;
  background-color: #283618;
}

h1 {
  font-size: 1.2em;
  letter-spacing: 0.2rem;
  text-align: center;
  color: #dda15e;
  padding: 0.25rem;
}
nav {
  margin: -0.75rem;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.1);
  height: 1.5rem;
  border-radius: 0.2rem;
  width: auto;
  padding: 1%;
}

.nav-items {
  font-size: 0.5em;
  text-decoration: none;
  color: #bbb0a4;
  border: 4px solid #bbb0a4;
  border-radius: 0.7rem 0.1rem;
  padding: 0.25rem;
  margin: 0.25rem;
}

nav a:hover {
  text-decoration: none;
  color: #606c38;
  letter-spacing: 0.02em;
  border: 5px solid #606c38;
  border-radius: 1.2rem;
  padding: 0.125rem;
  font-size: 0.6rem;
}
table {
  border: 5px solid #bbb0a4;
  padding: 3%;
}

.tableRow {
  font-size: 0.4rem;
  color: #bbb0a4;
}
#skillSection {
  margin: 20px;
  font-size: 0.4rem;
  color: #bbb0a4;
}

#aboutSection {
  margin: 20px;
  font-size: 0.4rem;
  color: #bbb0a4;
}

#contactSection {
  margin: 20px;
  font-size: 0.4rem;
  color: #bbb0a4;
}
